/* Importing tailwind styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:rgb(240 249 255);
    width: 100vw;
    height: 100vh;
}
/* Nav link styles */
.link-underline {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .3s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(black, black)
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
}

/*Butterfly text in header */
.logo-text{
    font-family: 'logo-font';
    color: white;
    font-size: 40px;
}

/* Nav Background */
.bg-custom-nav{
    background-image: radial-gradient(circle at 40% 50%,#6FBCFF 40%, #6FBCFF 10%,#FFBBF4 70%, #FFBBF4 10%,#6FBCFF);
    background-attachment: fixed;

}

/* Footer background */
.bg-custom-footer{
    background-image: linear-gradient(#6FBCFF 50%,#FFBBF4 90%);
    background-attachment: fixed;
}

/* Custom collapse */
#nav.collapse-hide{
    height: max-content;
    max-height: 120px;
}
#nav.collapse-show{
    height: max-content;

    max-height: 395px;
    transition: max-height 0.25s ease-in-out;
}

/* hide nav on scroll */
#nav.scroll-hide{
    transform: scaleY(0);    
    transform-origin: top;
    transition: transform 0.2s ease;

}
#nav.scroll-show{
    transform: scaleY(1);    
    transform-origin: top;
    transition: transform 0.2s ease;
}

/* Home page */
.home-message{
    font-family: 'home-message-font';
    color: white;
    font-size: 80px;    
    white-space: nowrap;
}

.join-button{
    right: calc(50% - 60px);
}

.bg-home{
    background-image: radial-gradient(ellipse at 15% 90%,#FFBBF4 10% 20%,#6FBCFF);
    
}

/* Contact background */
.contact-us-banner{

    background-image: url('../web_assets/web_assets/contact-us.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
}


/* Font for butterfly in header */
@font-face {
    font-family: 'logo-font';
    src: url('../web_assets/web_assets/Ubuntu/Ubuntu-Bold.ttf');
}
@font-face {
    font-family: 'home-message-font';
    src: url('../web_assets/web_assets/Source_Sans_Pro/SourceSansPro-LightItalic.ttf');
}

/* About page */

.bg-about{
    background: linear-gradient(140deg, rgb(240 249 255) 70%,#6FBCFF 10% 20%,#FFBBF4 );
}
