/* Importing tailwind styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin:0px;
    width:100vw;
    height:100vh;
    overflow:auto;
}

/* Nav link styles */
nav{
    z-index: 100;
}
.link-underline {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .3s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(black, black)
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
}


@media (max-width: 1024px) {
    .nav-link {
        font-size: 70px;
        height: 70px;
        margin-bottom: 40px;
    }
}


/*Butterfly text in header */
.logo-text{
    font-family: 'logo-font';
    color: white;
    font-size: 40px;
}

/* Nav Background */
.bg-custom-nav{
    background-image: radial-gradient(circle at 40% 50%,#6FBCFF 40%, #6FBCFF 10%,#FFBBF4 70%, #FFBBF4 10%,#6FBCFF);
    background-attachment: fixed;

}

/* Footer background */
.bg-custom-footer{
    background-image: linear-gradient(#6FBCFF 50%,#FFBBF4 90%);
    background-attachment: fixed;
}

/* Custom collapse */
#nav.collapse-hide{
    height: 120px;
    transition: height 0.15s ease-in-out;
    -webkit-transition: height 0.15s ease-in-out;
    -moz-transition: height 0.15s ease-in-out;
    -ms-transition: height 0.15s ease-in-out;
    -o-transition: height 0.15s ease-in-out;
}

@media (max-width: 900px){
    #nav.collapse-show{
        height: 430px;
        transition: height 0.15s ease-in-out;
        -webkit-transition: height 0.15s ease-in-out;
        -moz-transition: height 0.15s ease-in-out;
        -ms-transition: height 0.15s ease-in-out;
        -o-transition: height 0.15s ease-in-out;
}
}

@media (max-width: 900px){
    #nav.collapse-show-more{
        height: 480px;
        transition: height 0.25s ease-in-out;
        -webkit-transition: height 0.25s ease-in-out;
        -moz-transition: height 0.25s ease-in-out;
        -ms-transition: height 0.25s ease-in-out;
        -o-transition: height 0.25s ease-in-out;
}
}

/* hide nav on scroll */
#nav.scroll-hide{
    transform: scaleY(0);    
    transform-origin: top;
    transition: transform 0.2s ease;

}
#nav.scroll-show{
    transform: scaleY(1);    
    transform-origin: top;
    transition: transform 0.2s ease;
}

/* Home page */
.home-message{
    font-size: 100px;    
    white-space: nowrap;
}

.bg-home-right{
    background-image: url('../web_assets/web_assets/whitelogo.svg');
    background-size: 90% 90% ;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    opacity: 30%;
}

.title{
    font-size: 80px;    
}

.home-download{
    opacity: 100%;
    right: calc(50% - 150px);
}

@media (max-width: 1024px) {
    .home-download{
        font-size: 2.25rem;
        line-height: 2.5rem;
        height: 8rem;
        width: 20rem/* 320px */;
        padding-top: 2rem/* 40px */;
        border: 10px solid white;
    }
}





.bg-home{
    background-image: radial-gradient(ellipse at 15% 90%,#FFBBF4 10% 20%,#6FBCFF);
    
}

/* Contact background */
.contact-us-banner{

    background-image: url('../web_assets/web_assets/Contact/contact-us.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
}

/* Swiper */
.team-swiper{
    max-width: 1500px;
}

.team-swiper-collapsed{
    width: 500px;
}





/* Font for butterfly in header */
@font-face {
    font-family: 'logo-font';
    src: url('../web_assets/web_assets/Ubuntu/Ubuntu-Bold.ttf');
}
@font-face {
    font-family: 'home-message-font';
    src: url('../web_assets/web_assets/Source_Sans_Pro/SourceSansPro-LightItalic.ttf');
}
.sans-light-italic{
    font-family: 'home-message-font';
}

@font-face {
    font-family: 'bold-italic';
    src: url('../web_assets/web_assets/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf');
}
.bold-italic{
    font-family: "bold-italic";
}


@font-face {
    font-family: 'sans-regular';
    src: url('../web_assets/web_assets/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
.sans-regular{
    font-family: "sans-regular";
}


@font-face {
    font-family: 'sans-bold';
    src: url('../web_assets/web_assets/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}
.sans-bold{
    font-family: "sans-bold";
}


@font-face {
    font-family: 'sans-italic';
    src: url('../web_assets/web_assets/Source_Sans_Pro/SourceSansPro-Italic.ttf');
}
.sans-italic{
    font-family: "sans-italic";
}


/* Blog page */

.message{
    width: 900px;
}

li{
    font-family: sans-regular;
}

/* About page */

.bg-about{
    background: linear-gradient(140deg, rgb(240 249 255) 70%,#6FBCFF 10% 20%,#FFBBF4 );
}
 .bg-about-2{
    background-color: #68b7fc;
 }

 .about-image{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 15px;
    background-image: radial-gradient(ellipse at 15% 90%,#FFBBF4 10% 20%,#6FBCFF);
}

.about-image-title{
    font-size: 40px;    
    background: radial-gradient(ellipse at 15% 90%,#FFBBF4 10% 20%,#6FBCFF);
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-download{
    font-size: 80px;
}

.section-swiper{
    width: 450px;
}

@media (min-width: 1280px) {
    .about-download {
        font-size: 120px;
    }
}

