/* Importing tailwind styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --minWidth: 280px;
  }
  
  
  .body {
    margin:0px;

    min-width: var(--minWidth);
}


/* Nav link styles */
nav{
    z-index: 100;
}
.link-underline {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .3s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(black, black)
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
}


@media (max-width: 1279px) {
    .nav-link {
        font-size: 70px;
        height: 70px;
        margin-bottom: 40px;
    }
}

.disabled-link {
    pointer-events: none;
  }


/*Butterfly text in header */
.logo-text{
    font-family: 'logo-font';
    color: white;
    font-size: 40px;
}

@media (max-width: 285px) {

    .logo-text{
        font-family: 'logo-font';
        color: white;
        font-size: 35px;
    }
}

/* Nav Background */
.bg-custom-nav{
    background-image: radial-gradient(circle at 40% 50%,#6FBCFF 40%, #6FBCFF 10%,#FFBBF4 70%, #FFBBF4 10%,#6FBCFF);
    background-attachment: fixed;

}

/* Custom collapse */
#nav.collapse-hide{
    height: 120px;
    transition: height 0.15s ease-in-out;
    -webkit-transition: height 0.15s ease-in-out;
    -moz-transition: height 0.15s ease-in-out;
    -ms-transition: height 0.15s ease-in-out;
    -o-transition: height 0.15s ease-in-out;
}

@media (max-width: 900px){
    #nav.collapse-show{
        height: 430px;
        transition: height 0.15s ease-in-out;
        -webkit-transition: height 0.15s ease-in-out;
        -moz-transition: height 0.15s ease-in-out;
        -ms-transition: height 0.15s ease-in-out;
        -o-transition: height 0.15s ease-in-out;
}
}

@media (max-width: 900px){
    #nav.collapse-show-more{
        height: 480px;
        transition: height 0.25s ease-in-out;
        -webkit-transition: height 0.25s ease-in-out;
        -moz-transition: height 0.25s ease-in-out;
        -ms-transition: height 0.25s ease-in-out;
        -o-transition: height 0.25s ease-in-out;
}
}

/* hide nav on scroll */
#nav.scroll-hide{
    transform: scaleY(0);    
    transform-origin: top;
    transition: transform 0.2s ease;

}
#nav.scroll-show{
    transform: scaleY(1);    
    transform-origin: top;
    transition: transform 0.2s ease;
}

/* Home page */
.home-message{
    padding-top: 15%;
    padding-bottom: 15%;
    
}
@media (min-width: 1280px) {
    .home-message{
        padding-top: 20%;
        padding-bottom: 20%;
        
    }
}


.bg-home-right{
    background-image: url('../web_assets/web_assets/whitelogo.svg');
    background-size: 90% 90% ;
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    opacity: 30%;
}

.title{
    font-size: 60px;    
}

.home-download{
    right: calc(50% - 160px);
}
.home-download-content{
    border: 10px solid white;
    right: calc(50% - 160px);
}


@media (max-width: 350px) {
    .home-download{
        width: 100%;
        right: 0;
    }
}

.bg-home{
    background-image: radial-gradient(ellipse at 15% 90%,#FFBBF4 10% 20%,#6FBCFF);
    -webkit-background-image: radial-gradient(ellipse at 15% 90%,#FFBBF4 10% 20%,#6FBCFF);
    -moz-background-image: radial-gradient(ellipse at 15% 90%,#FFBBF4 10% 20%,#6FBCFF);
    -ms-background-image: radial-gradient(ellipse at 15% 90%,#FFBBF4 10% 20%,#6FBCFF);
    -o-background-image: radial-gradient(ellipse at 15% 90%,#FFBBF4 10% 20%,#6FBCFF);   
}

/* Contact background */
.contact-us-banner{

    background-image: url('../web_assets/web_assets/Contact/contact-us.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
}
.contact-text{
    font-size: 4rem;
}

/* Font for butterfly in header */
@font-face {
    font-family: 'logo-font';
    src: url('../web_assets/web_assets/Ubuntu/Ubuntu-Bold.ttf');
}
@font-face {
    font-family: 'home-message-font';
    src: url('../web_assets/web_assets/Source_Sans_Pro/SourceSansPro-LightItalic.ttf');
}
.sans-light-italic{
    font-family: 'home-message-font';
}

@font-face {
    font-family: 'bold-italic';
    src: url('../web_assets/web_assets/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf');
}
.bold-italic{
    font-family: "bold-italic";
}


@font-face {
    font-family: 'sans-regular';
    src: url('../web_assets/web_assets/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
.sans-regular{
    font-family: "sans-regular";
}


@font-face {
    font-family: 'sans-bold';
    src: url('../web_assets/web_assets/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}
.sans-bold{
    font-family: "sans-bold";
}


@font-face {
    font-family: 'sans-italic';
    src: url('../web_assets/web_assets/Source_Sans_Pro/SourceSansPro-Italic.ttf');
}
.sans-italic{
    font-family: "sans-italic";
}

@font-face {
    font-family: 'sans-light';
    src: url('../web_assets/web_assets/Source_Sans_Pro/SourceSansPro-Light.ttf');
}
.sans-light{
    font-family: "sans-light";
}



/* Blog page */

/* Swiper */
.team-swiper{
    width: 1350px;
}

.team-swiper-collapsed{
    width: 380px;
    max-width: 99%;

}

@media (max-width: 350px) {
    .team-swiper-collapsed{
        width: 100vw;
    }

    .member-image{
        width: 190px;
    }
}


.message{
    width: 900px;
}

.blog-swiper{
    width: 100vw;
}

.post-collapsed{
    height: 80vw;
    width: 80vw;
    margin-left: 5%;
    padding: 25px;
    min-width: var(--minWidth);
    min-height: var(--minWidth);

}

.post-background{
    background-image: url('../web_assets/web_assets/whitelogo.svg');
    background-size: 90% 90% ;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 30%;
    box-shadow: gray 2px 2px 2px 2px;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}


.post-title{
    font-size: 50px;
    margin-bottom: 10px;
}

.post-content{
    font-size: 20px;
}

.post-metadata{
    font-size: 15px;
}

.post-expand-btn{
    right: 0;
    top: 50px;
}

@media (min-width: 728px) {
    .blog-swiper{
        width: 700px;
    }
    .post-collapsed{
        height: 500px;
        width: 500px;
        margin-left: 14%;
        border-radius: 60px;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
    }

    .post-title{
        font-size: 80px;
        margin-bottom: 35px;
    }

    .post-content{
        font-size: 40px;
    }

    .post-metadata{
        font-size: 20px;
    }

    .post-expand-btn{
        right: 15px;
        top: 65px;
    }

}

@media (min-width: 450px) and ( max-width: 728px) {
    .post-title{
        font-size: 50px;
        margin-bottom: 10px;
        padding: none;

    }
    .post-content{
        font-size: 20px;
        margin-top: 0;
    }
    .post-collapsed{
        padding-left: 10%;
    }
    .blog-swiper{
        width: 80%;
    }  
    .post-metadata{
        font-size: 10px;
    }   
    .post-collapsed{
        height: 300px;
        width: 300px;
        padding-top: 30px;
    }
    .post-expand-btn{
        right: -20px;
        top: 55px;
    }
}

.post-expand-btn{
    height: 7%;
    width: 7%;
    background-image: url('../web_assets/web_assets/Blog/expand.svg');
    background-size: 90% 90% ;
    background-position: center;
    background-repeat: no-repeat;
}
.post-collapse-btn{
    height: 7%;
    width: 7%;
    background-image: url('../web_assets/web_assets/Blog/collapse.svg');
    background-size: 90% 90% ;
    background-position: center;
    background-repeat: no-repeat;
}

/* About page */

.bg-about{
    background-color: linear-gradient(140deg, rgb(240 249 255) 70%,#6FBCFF 10% 20%,#FFBBF4 );
    
}
 .bg-about-2{
    background-color: #68b7fc;
 }

 .about-image{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 10px;
    background-image: radial-gradient(ellipse at 15% 90%,#FFBBF4 10% 20%,#6FBCFF);
}

.about-download{
    font-size: 60px;
}

.section-swiper{
    width: 400px;
}

@media (max-width: 400px) {
    .about-image{
        width: 100px;
    }
    .about-image-title{
        font-size: 20px;
    }
    .about-image{
        width: 200px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .section-swiper {
        width: 280px;
    }
    .about-download{
        font-size: 40px;
    }
}

.about-image-title{
    background-image: radial-gradient(ellipse at 15% 90%,#FFBBF4 10% 20%,#6FBCFF);

    background-clip: text;
    -webkit-background-image:    radial-gradient(ellipse at 15% 90%,#FFBBF4 10% 20%,#6FBCFF);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Blog-Post */

.blog-post{
    box-shadow: rgb(219, 219, 219) 2px 2px 2px 2px;

}



@media (min-width: 768px) {
    .about-download {
        font-size: 120px;
    }
}

